In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [3]:
pd.options.display.max_rows = 4000
pd.options.display.max_seq_items = 2000
pd.set_option('display.max_colwidth', -1)

In [4]:
ed_country = pd.read_csv("~\Desktop\dss_sp19\EdStatsCountry.csv")

In [5]:
ed_data = pd.read_csv("~\Desktop\dss_sp19\EdStatsData.csv")

In [6]:
region_count = ed_country.groupby("Region").size()
region_count

Region
East Asia & Pacific           36
Europe & Central Asia         57
Latin America & Caribbean     41
Middle East & North Africa    21
North America                 3
South Asia                    8
Sub-Saharan Africa            48
dtype: int64

In [7]:
by_region = ed_country.sort_values("Region")[["Country Code", "Short Name", "Region", "Income Group"]]
only_east_asia = by_region[by_region["Region"] == "East Asia & Pacific"]

In [8]:
countries_to_2017 = ed_data.iloc[:, :52] #table went all the way to 2100, so I took out the years that have not occurred yet
countries_to_2017.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, both sexes (%)",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, female (%)",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, gender parity index (GPI)",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, male (%)",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sexes (%)",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,84.011871,84.195961,85.211998,85.24514,86.101669,85.51194,85.320152,NaN,NaN,NaN

In [9]:
us_data = countries_to_2017[countries_to_2017['Country Code'] == 'USA']
us_data = us_data.drop(columns=["Country Name", "Country Code", "Indicator Code"]) #without "U.S." label
us_row_counts = us_data.apply(lambda x: x.count(), axis=1) #number of data points in row
us_data['Row Count'] = us_row_counts
us_data = us_data[us_data['Row Count'] > 40] #rows with more than 40 data points

In [22]:
china_data = countries_to_2017[countries_to_2017['Country Code'] == 'CHN']
china_data = china_data.drop(columns=["Country Name", "Country Code", "Indicator Code"]) #without "China" label
china_row_counts = china_data.apply(lambda x: x.count(), axis=1)
china_data['Row Count'] = china_row_counts
china_data = china_data[china_data['Row Count'] > 40]
china_data_w_row_count = china_data #with row count
china_data = china_data.drop(columns=["Row Count"]) #dropped row count column
china_data['Indicator Name']

243067    Enrolment in pre-primary education, both sexes (number)
243073    Enrolment in primary education, both sexes (number)
243081    Enrolment in secondary education, both sexes (number)
243087    Enrolment in secondary general, both sexes (number)
243089    Enrolment in secondary vocational, both sexes (number)
243091    Enrolment in tertiary education per 100,000 inhabitants, both sexes
243094    Enrolment in tertiary education, all programmes, both sexes (number)
243132    GDP at market prices (constant 2005 US$)
243133    GDP at market prices (current US$)
243134    GDP per capita (constant 2005 US$)
243135    GDP per capita (current US$)
243140    GNI (current US$)
243141    GNI per capita, Atlas method (current US$)
243205    Gross enrolment ratio, pre-primary, both sexes (%)
243213    Gross enrolment ratio, primary and secondary, both sexes (%)
243221    Gross enrolment ratio, primary, both sexes (%)
243225    Gross enrolment ratio, secondary, both sexes (%)
243229    Gross enrolment ratio, tertiary, both sexes (%)
243532    Mortality rate, under-5 (per 1,000)
243571    Official entrance age to lower secondary education (years)
243573    Official entrance age to pre-primary education (years)
243574    Official entrance age to primary education (years)
243926    Percentage of students in secondary education enrolled in general programmes, both sexes (%)
243927    Percentage of students in secondary education enrolled in vocational programmes, both sexes (%)
244197    Population growth (annual %)
244201    Population of the official age for lower secondary education, both sexes (number)
244202    Population of the official age for lower secondary education, female (number)
244203    Population of the official age for lower secondary education, male (number)
244207    Population of the official age for pre-primary education, both sexes (number)
244208    Population of the official age for pre-primary education, female (number)
244209    Population of the official age for pre-primary education, male (number)
244210    Population of the official age for primary education, both sexes (number)
244211    Population of the official age for primary education, female (number)
244212    Population of the official age for primary education, male (number)
244213    Population of the official age for secondary education, both sexes (number)
244214    Population of the official age for secondary education, female (number)
244215    Population of the official age for secondary education, male (number)
244216    Population of the official age for tertiary education, both sexes (number)
244217    Population of the official age for tertiary education, female (number)
244218    Population of the official age for tertiary education, male (number)
244219    Population of the official age for the last grade of primary education, both sexes (number)
244220    Population of the official age for the last grade of primary education, female (number)
244221    Population of the official age for the last grade of primary education, male (number)
244222    Population of the official age for upper secondary education, both sexes (number)
244223    Population of the official age for upper secondary education, female (number)
244224    Population of the official age for upper secondary education, male (number)
244225    Population of the official entrance age to primary education, both sexes (number)
244226    Population of the official entrance age to primary education, female (number)
244227    Population of the official entrance age to primary education, male (number)
244228    Population of the official entrance age to secondary general education, both sexes (number)
244229    Population of the official entrance age to secondary general education, female (number)
244230    Population of the official entrance age to secondary general education, male (number)
244309    Population, ages 0-14 (% of total)
244310    Population, ages 0-14, female
244311    Population, ages 0-14, male
244312    Population, ages 0-14, total
244373    Population, ages 15-64 (% of total)
244374    Population, ages 15-64, female
244375    Population, ages 15-64, male
244376    Population, ages 15-64, total
244419    Population, female
244420    Population, female (% of total)
244421    Population, male
244422    Population, male (% of total)
244423    Population, total
244441    Pupil-teacher ratio in primary education (headcount basis)
244442    Pupil-teacher ratio in secondary education (headcount basis)
244813    School life expectancy, primary and secondary, both sexes (years)
244821    School life expectancy, primary, both sexes (years)
244825    School life expectancy, secondary, both sexes (years)
244829    School life expectancy, tertiary, both sexes (years)
244858    Teachers in primary education, both sexes (number)
244860    Teachers in secondary education, both sexes (number)
244872    Theoretical duration of lower secondary education (years)
244874    Theoretical duration of pre-primary education (years)
244875    Theoretical duration of primary education (years)
244876    Theoretical duration of secondary education (years)
244877    Theoretical duration of upper secondary education (years)
Name: Indicator Name, dtype: object

In [23]:
china_primary_enroll = china_data[china_data['Indicator Name'] == 'Enrolment in primary education, both sexes (number)'].transpose()
#transposed to make the rows years

china_primary_enroll = china_primary_enroll.rename(columns={243073: "Enrollment in primary education, both sexes (number)"})
#renamed column

china_primary_enroll = china_primary_enroll.drop(["Indicator Name"])
#dropped row with indicator name

In [24]:
china_secondary_enroll = china_data[china_data['Indicator Name'] == 'Enrolment in secondary education, both sexes (number)'].transpose()
china_secondary_enroll = china_secondary_enroll.rename(columns={243081: "Enrollment in secondary education, both sexes (number)"})
china_secondary_enroll = china_secondary_enroll.drop(["Indicator Name"])

In [25]:
china_tertiary_enroll = china_data[china_data['Indicator Name'] == 'Enrolment in tertiary education, all programmes, both sexes (number)'].transpose()
china_tertiary_enroll = china_tertiary_enroll.rename(columns={243094: "Enrollment in tertiary education, all programmes, both sexes (number)"})
china_tertiary_enroll = china_tertiary_enroll.drop(["Indicator Name"])

In [26]:
china_primary_secondary = china_primary_enroll.merge(china_secondary_enroll, left_index=True, right_index=True)
china_enroll_all_levels = china_primary_secondary.merge(china_tertiary_enroll, left_index=True, right_index=True)
china_enroll_all_levels.head()

,"Enrollment in primary education, both sexes (number)","Enrollment in secondary education, both sexes (number)","Enrollment in tertiary education, all programmes, both sexes (number)"
1970,1.00668e+08,2.02534e+07,108617
1971,1.0528e+08,2.64825e+07,NaN
1972,1.12112e+08,3.14937e+07,NaN
1973,1.25492e+08,3.61669e+07,193719
1974,1.35704e+08,3.49468e+07,313645

In [27]:
china_gdp_per_capita = china_data[china_data['Indicator Name'] == 'GDP per capita (current US$)'].transpose()
china_gdp_per_capita = china_gdp_per_capita.rename(columns={243135: "GDP per capita (current US$)"})
china_gdp_per_capita = china_gdp_per_capita.drop(["Indicator Name"])

In [28]:
china_enrollment_and_gdp = china_gdp_per_capita.merge(china_enroll_all_levels, left_index=True, right_index=True)
china_enrollment_and_gdp.head()

,GDP per capita (current US$),"Enrollment in primary education, both sexes (number)","Enrollment in secondary education, both sexes (number)","Enrollment in tertiary education, all programmes, both sexes (number)"
1970,113.163,1.00668e+08,2.02534e+07,108617
1971,118.655,1.0528e+08,2.64825e+07,NaN
1972,131.884,1.12112e+08,3.14937e+07,NaN
1973,157.09,1.25492e+08,3.61669e+07,193719
1974,160.14,1.35704e+08,3.49468e+07,313645

In [34]:
china_enrollment_and_gdp = china_enrollment_and_gdp.dropna(axis=0, how="any") #no nan

In [35]:
#need to figure out how to create histogram
#look at primary vs. secondary
#gdp vs. enrollment
#see if you can find gender?